<p id="notice"><%= notice %></p>
  <h2><%= @feed_post.feed.title %> </h2>
  <b><%= @feed_post.title %></b>
  <p>
    <%= @feed_post.content %> <br/>
     Posted on <b><%= @feed_post.published_at %> </b>
  </p>